.dedicacao_skill_bar {
  width: 100%;
  background-color: #fb0000;
  border-radius: 18px;
  padding-right: 5px;
  padding-top: 3px;
}
.dedicacao_skill_bar {
  height: 1em;
}

.ramon_foto {
  border-radius: 5em;
  height: 5em;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.app_foto {
  border-radius: 2em;
  height: 100px;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ferr_skill_bar {
  width: 95%;
  background-color: #24061e;
  border-radius: 18px;
  padding-right: 5px;
}

.pro_skill_bar {
  width: 60%;
  background-color: #496c66;
  border-radius: 18px;
  padding-right: 5px;
}

.html_skill_bar {
  width: 70%;
  background-color: #f38bde;
  border-radius: 18px;
  padding-right: 5px;
}
.sql_skill_bar {
  width: 90%;
  background-color: #7125b8;
  border-radius: 18px;
  padding-right: 5px;
}
.erp_skill_bar {
  width: 75%;
  background-color: #ef6d0d;
  border-radius: 18px;
  padding-right: 5px;
}
.fluxo_skill_bar {
  width: 65%;
  background-color: #8db400;
  border-radius: 18px;
  padding-right: 5px;
}

.container_skill_bar {
  width: 80%;
  background-color: #ddd;
  border-radius: 18px;
}

.container_bar {
  width: 90%;
}

.skills {
  height: 2em;
  color: white;
}
.skill_bar {
  padding: 1em 1em 1em 4.5em;
  position: relative;
}

.lateral {
  background-color: blue;
}
